@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,
body {
	/* box-sizing: border-box;
  font-size: 62.5%; */
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}
